/* Empty. Add your own CSS if you like */
input {
	border: 1px solid #11c1f3 !important;
}
select {
	border: 1px solid #11c1f3 !important;
	padding: 7px;
}
button {
	border: 1px solid #11c1f3 !important;
	width: 100%;
	color: #000000 !important;
	padding: 10px;
}